{% extends 'main/base.html' %}

{% block content %}
  <h1>Решение </h1>
  <p>Задача: {{ submission.task.name }}</p>
  <p>Статус: {{ submission.get_status_display }}</p>

  {% if error %}
    <div class="alert alert-danger">{{ error }}</div>
  {% endif %}

  {% if passed %}
    <div class="alert alert-success">Задание выполнено!</div>
  {% else %}
    <div class="alert alert-danger">Задание провалено!</div>
  {% endif %}

  <h2>Код:</h2>
  <pre>{{ submission.code }}</pre> 

  <h2>Ваш вывод:</h2>
  <pre>{{ output }}</pre>

  <h2>Правильный вывод:</h2>
  <pre>{{ submission.task.output }}, {{ submission.task.output1 }}, {{ submission.task.output2 }}</pre>
{% if  user.username == submission.student %}
  {% if  submission.status == 'WA' or submission.status == 'E'  %}
  <a class="btn btn-primary" href="{% url 'task_detail' submission.task.slug %}">Попробовать еще раз</a>
  {% endif %}
{% endif %}
{% endblock %}

<button type="button" action="task_detail submission.task.pk" class="btn btn-primary">Повторить</button>
