{% extends 'main/base.html' %}

{% block content %}
<form method="GET">
  <div class="form-group">
      <label for="search">Поиск</label>
      <input type="text" class="form-control" id="search" name="q" value="{{ request.GET.q }}">
  </div>
  <button type="submit" class="btn btn-primary" name="action" value="search">Поиск</button>
  <div class="form-group">
      <label for="sort">Сортировать по</label>
      <select class="form-control" id="sort" name="sort">
          <option value="name" {% if sort == 'name' %}selected{% endif %}>Названию</option>
          <option value="prepod" {% if sort == 'prepod' %}selected{% endif %}>Автору</option>
          <option value="language" {% if sort == 'language' %}selected{% endif %}>Языку</option>
         
      </select>
  </div>

  <button type="submit" class="btn btn-primary" name="action" value="sort">Сортировка</button>
</form>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-8">
        {% for task in tasks %}
       
          <div class="form-group">
            
            <div class="card-header">
              <h5 class="mb-0">{{ task.name }} </h5><br>
              <a href="{% url 'author_tasks' task.prepod %}" class="mb-0">Автор {{ task.prepod }}</a> {{ task.get_language }} 
            </div>
            <div class="card-body">
              <p class="card-text">{{ task.description|truncatechars:50 }}</p>
              <a href="{% url 'task_detail' task.slug %}" class="btn btn-primary">Начать</a>
            </div>
          </div>
        
        {% empty %}
          <p>Нет доступных заданий.</p>
        {% endfor %}
      </div>
    </div>
    <div class="pagination">
      <span class="step-links">
        {% if page.has_previous %}
        <a href="?page=1{% if sort %}&sort={{ sort }}{% endif %}{% if q %}&q={{ q }}{% endif %}">&laquo; первая</a>
        <a href="?page={{ page.previous_page_number }}{% if sort %}&sort={{ sort }}{% endif %}{% if q %}&q={{ q }}{% endif %}">&lsaquo; предыдущая</a>
      {% endif %}
      
      <span class="current-page">
        Страница {{ page.number }} из {{ page.paginator.num_pages }}
      </span>
      
      {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}{% if sort %}&sort={{ sort }}{% endif %}{% if q %}&q={{ q }}{% endif %}">следующая &rsaquo;</a>
        <a href="?page={{ page.paginator.num_pages }}{% if sort %}&sort={{ sort }}{% endif %}{% if q %}&q={{ q }}{% endif %}">последняя &raquo;</a>
      {% endif %}
      
      </span>
  </div>
  </div>
  
{% endblock %}
Есть список задач. Как изменить код, чтобы показывалось только по 5 задач на странице