{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
    <link id="theme" rel="stylesheet" href="{% static 'css/styles-dark.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">    
    <a class="navbar-brand" ><img src="/static/images/logo.png" alt="Logo" class="img-fluid" style="max-height: 75px;"></a>
    <button class="navbar-toggler ml-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse justify-content-center text-center" id="navbarTogglerDemo02">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'blog-home' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_list' %}">Задачи</a>
        </li>
        {% if user.is_authenticated and user.choice == '2'%}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_create' %}">Создать задание</a>
        </li>
        {% endif %}
        <!-- <li class="nav-item">
          <a class="nav-link" href="{% url 'guestbook' %}">Гостевая</a>
        </li> -->
        {% if user.choice == '2' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog' %}">Ваши задачи</a></li>
          
          {% endif %}
        {% if user.choice == '1' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'catalog' %}">Ваши решения</a></li>
          {% endif %}
              
          <li class="nav-item">
            <a class="nav-link" href="{% url 'interpreter' %}">Интерпретатор</a></li>
        <li class="nav-item"> 
              <button class="btn btn-link nav-link" onclick="toggleTheme()">Switch Theme</button>
          </li>
         
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Профиль|{{ user.username }}</a></li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}">Выход</a></li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Вход</a></li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'register' %}">Регистрация</a></li>
        {% endif %}
      </ul>
      
    </div>
  </nav>
       
    
    <main role="main" class="container">
      <div class="row">
        
          {% if messages %}
        	{% for message in messages %}
          	<div class="alert alert-{{ message.tags }}">
            	{{ message }}
          	</div>
        	{% endfor %}
          {% endif %}
          {% block content %}{% endblock %}
     
        <!-- <div class="col-md-4">
          <div class="content-section">
            <h3>Разделы</h3>
            <p class='text-muted'>новости и события
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Новые записи</li>
                <li class="list-group-item list-group-item-light">Объявления</li>
                <li class="list-group-item list-group-item-light">Соревнования</li>
                <li class="list-group-item list-group-item-light">Встречи участников</li>
              </ul>
            </p>
          </div>
        </div> -->
      </div>

    
    <!-- Футер закреплен внизу, независимо от количества постов на странице -->
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.bundle.min.js"></script>
    <script>
      function toggleTheme() {
        var theme = document.getElementById("theme");
        
        if (theme.getAttribute("href") === "{% static 'css/styles-light.css' %}") {
          theme.setAttribute("href", "{% static 'css/styles-dark.css' %}");
          localStorage.setItem("theme", "dark");
        } else {
          theme.setAttribute("href", "{% static 'css/styles-light.css' %}");
          localStorage.setItem("theme", "light");
        }
      }
    
      var savedTheme = localStorage.getItem("theme");
      if (savedTheme) {
        var theme = document.getElementById("theme");
        
        if (savedTheme === "dark") {
          theme.setAttribute("href", "{% static 'css/styles-dark.css' %}");
        } else {
          theme.setAttribute("href", "{% static 'css/styles-light.css' %}");
        }
      }
    </script>
    <script>
    function removeBackground() {
      document.body.style.backgroundImage = "none";
  }
</script>
    {% block extra_js %}{% endblock %}

<footer>
  <p><a href="{% url 'blog-home' %}">© ITcontestKG 2023</a></p>
  <button class="btn btn-link nav-link remove-bg-button" onclick="removeBackground()">Убрать задний фон</button>
</footer>
</main>
</body>
</html>
